.btn {
  font-family: var(--font-arabic);
  border: none;
  outline: none;
  position: relative;
  text-decoration: none;

  padding: 0rem 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 4rem;
  margin-left: auto;
  transition: all 0.1s;
  cursor: pointer;
  animation: moveUp 0.8s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.1);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 1rem 4rem rgba(#000, 0.2);
  }
}

.btn--purple {
  color: var(--color-primary-purple);
  background-color: var(--color-white);
  &:hover {
    background-color: var(--color-primary-purple);
    color: var(--color-white);
  }
}
.show-more {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 2rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  background-color: var(--color-grey-light-2);
  padding: 2rem;
  font-weight: 700;
  font-family: inherit;
  margin-top: 2rem;
  animation: none;
  // margin-bottom: 2rem;
  transition: 0.1s;
  display: none;
  // color: purple;

  span {
    transition: 0.1s;
  }

  &:hover {
    background-color: var(--color-grey-light-3);
  }

  &.active {
    color: purple;

    .show-more--english {
      transform: rotate(90deg);
    }
    .show-more--arabic {
      transform: rotate(-90deg);
    }
  }
}
