.quiz-box {
  text-decoration: none;
  position: relative;
  background-image: var(--bg-image);
  padding: 4rem;
  border-radius: 1rem;
  color: var(--color-white);
  flex-basis: calc(25% - 3rem);
  text-align: center;
  //   font-family: var(--font-english);
  font-family: var(--font-arabic);
  cursor: pointer;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-large) {
    flex-basis: calc(50% - 2rem);
  }

  @media only screen and (max-width: $bp-smallest) {
    flex-basis: calc(100%);
  }

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0 2rem 4rem rgba(#000, 0.2);
  }

  &:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 4rem 4rem rgba(#000, 0.2);
  }

  &__grade {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    top: -1.5rem;
    right: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    direction: ltr;
    background-image: var(--bg-image);
    box-shadow: -1px 1px 10px #ddd;
    font-family: var(--font-english);
  }

  &__heading {
    font-size: 2.8rem;
    text-transform: capitalize;
  }

  &__desc {
    font-size: 1.6rem;
  }
}
