.section-quizes {
  grid-column: 1 / -1;
  padding: 6rem 2rem;
  display: flex;
  flex-wrap: wrap;

  gap: 4rem;
  position: relative;

  &--english-quiz {
    direction: ltr;
    font-family: var(--font-english);
    letter-spacing: 1px;
    // font-family: op;
  }

  &--arabic-quiz {
    direction: rtl;
    font-family: var(--font-arabic);
  }
}
